# Ignore virtual environment
.venv/

# Python bytecode files
__pycache__/

# IDE settings
.vscode/

# Logs
*.log

# Python egg info
*.egg-info/

# macOS system files
.DS_Store
src/ndvi_comparei/.DS_Store

# Environment variables file
.env

# Maps
maps/
secrets/earthengine-privatekey.json
